In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('indiancrop_dataset - indiancrop_dataset.csv')

In [3]:
df.head()

,N_SOIL,P_SOIL,K_SOIL,TEMPERATURE,HUMIDITY,ph,RAINFALL,STATE,CROP_PRICE,CROP
0,90,42,43,20.879744,82.002744,6.502985,202.935536,Andaman and Nicobar,7000,Rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,Andaman and Nicobar,5000,Rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,Andaman and Nicobar,7000,Rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,Andaman and Nicobar,7000,Rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,Andaman and Nicobar,120000,Rice

In [4]:
df.shape

(2200, 10)

In [5]:
df.drop('STATE', inplace=True, axis=1)

In [6]:
#checking for null values
df.replace(0,np.NaN)
df.isnull().sum()

N_SOIL         0
P_SOIL         0
K_SOIL         0
TEMPERATURE    0
HUMIDITY       0
ph             0
RAINFALL       0
CROP_PRICE     0
CROP           0
dtype: int64

In [7]:
#Log scalling for Normalizing the data
df['CROP_PRICE'] = np.log(df['CROP_PRICE'])

In [8]:
df.info

<bound method DataFrame.info of       N_SOIL  P_SOIL  K_SOIL  TEMPERATURE   HUMIDITY        ph    RAINFALL  \
0         90      42      43    20.879744  82.002744  6.502985  202.935536
1         85      58      41    21.770462  80.319644  7.038096  226.655537
2         60      55      44    23.004459  82.320763  7.840207  263.964248
3         74      35      40    26.491096  80.158363  6.980401  242.864034
4         78      42      42    20.130175  81.604873  7.628473  262.717340
...      ...     ...     ...          ...        ...       ...         ...
2195     107      34      32    26.774637  66.413269  6.780064  177.774507
2196      99      15      27    27.417112  56.636362  6.086922  127.924610
2197     118      33      30    24.131797  67.225123  6.362608  173.322839
2198     117      32      34    26.272418  52.127394  6.758793  127.175293
2199     104      18      30    23.603016  60.396475  6.779833  140.937041

      CROP_PRICE    CROP
0       8.853665    Rice
1       8.517193    Rice
2       8.853665    Rice
3       8.853665    Rice
4      11.695247    Rice
...          ...     ...
2195    6.907755  Coffee
2196    6.684612  Coffee
2197    6.327937  Coffee
2198    7.313220  Coffee
2199    7.244228  Coffee

[2200 rows x 9 columns]>

In [9]:
x = df.drop(['CROP'],axis=1)
Y=df['CROP']

In [10]:
y = pd.get_dummies(Y)
y

,Apple,Banana,Blackgram,ChickPea,Coconut,Coffee,Cotton,Grapes,Jute,KidneyBeans,...,Mango,MothBeans,MungBean,Muskmelon,Orange,Papaya,PigeonPeas,Pomegranate,Rice,Watermelon
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2196,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2197,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2198,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2199,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
x.columns

Index(['N_SOIL', 'P_SOIL', 'K_SOIL', 'TEMPERATURE', 'HUMIDITY', 'ph',
       'RAINFALL', 'CROP_PRICE'],
      dtype='object')

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (1760, 8)
x_test : (440, 8)
y_train : (1760, 22)
y_test : (440, 22)

In [13]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)
model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=20)

In [14]:
pred = model.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score+
print(f"Accuracy of model is {round(accuracy_score(y_test, pred)*100)}%")

Accuracy of model is 99%

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf=KNeighborsClassifier()
knn = knn_clf.fit(x_train,y_train)
knn_pred = knn.predict(x_test)

In [17]:
print(f"Accuracy of model is {round(accuracy_score(y_test,knn_pred)*100)}%")

Accuracy of model is 97%

In [18]:
# Decision Trees
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=6)
clf.fit(x_train, y_train)
dt_pred = clf.predict(x_test)

In [19]:
print(f"Accuracy of model is {round(accuracy_score(y_test,dt_pred)*100)}%")

Accuracy of model is 98%